extends ../layout

block content
	h1 主页
	include ../nav
	div.row
		each post in posts
			div.col-sm-10.col-sm-offset-1.text-center 作者:
				a(href="/u/#{post.name}") #{post.name}
			div.col-sm-10.col-sm-offset-1.text-center 时间:#{post.time.minute}
			h2.col-sm-10.col-sm-offset-1.text-center
				a(href="/u/#{post.name}/#{post.time.day}/#{post.tittle}") #{post.tittle}
			div.col-sm-10.col-sm-offset-1.text-center !{post.article}
			div.col-sm-10.col-sm-offset-1.text-center 标签：
				each tag in post.tags
					a(href="/tags/tag=#{tag}") #{tag}
	include ../paging